/*
--01 TYPOGRAPHY SYSTEM 

 --Spacing (px)
   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 --Line height
 Default: 1
 Large-text 1.05
 Paragraph 1.6

 --Letter spacing
 Small: 1px

 --Font weights
 Default: 400

 --Font sizing (px)
   10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


 --02 COLOURS

 --Primary: #FBBC2F; #ff0610; #0543a6
 --Tints: #FFF8EA,#fef2d5,#feebc1,

 
 --Shades: #191305, #322609, #4b380e
 --Accents:
 --Greys: 
 #555
 #333
 #6f6f6f

 UIFaces- good for free human faces
 Splash- good for free images

 --05 SHADOWS

 --06 BORDER RADIUS
 Default: 9px
 medium: 18px

 --07 WHITE SPACE
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* color: #fff8ea; */

  overflow-x: hidden;
}

.grid {
  grid-template-columns: (1fr, 1fr);
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #fff8ea;

  /* padding-bottom: 4.8rem; */
}

.heading-primary {
  font-size: 3.4rem;
  line-height: 1.05;
  margin-bottom: 4.8rem;
  align-items: center;
  justify-content: center;
}

.heading-secondary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-top: -1.5rem;
  margin-bottom: 3.4rem;
  color: #322609;
}

.footer-heading {
  font-size: 1.8rem;
  margin: 2.4rem 0;
  color: #322609;
}
