/* ------------Navigation---------------*/

/* .main-header {
  width: 100%;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fef2d5;
  padding: 0 4.8rem;
  /* position: relative; */

/* box-shadow: 0 1.2rem 3.2rem rgb(0, 0, 0, 0.03);
} */

.navbar {
  height: 9.6rem;
  background-color: #fff8ea;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 4.8rem;
}

/* .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-logo::before,
.nav-logo::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-logo::before {
  width: 60%;
  padding: 60%;
  background-color: #fff8ea;
  z-index: -1;
} */

.onsen-logo {
  height: 6.4rem;
  border-radius: 50%;
}

.main-nav-link:link,
.main-nav-link:visited {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  /* width: 20%; */
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fbbc2f;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link a {
  color: #322609;
  font-size: 1.8rem;
  font-weight: 700;
}

.main-nav-link.cta-btn:link,
.main-nav-link.cta-btn:visited {
  background-color: #fbbc2f;
  color: #322609;
  padding: 1.6rem 2.4rem;
  border-radius: 10px;
}

.main-nav-link.cta-btn:hover,
.main-nav-link.cta-btn:active {
  background-color: #fff8ea;
  color: #fbbc2f;
  /* font-weight: 700;
  font-size: 1.5rem;
  padding: 2.4rem 3.6rem;
  border-radius: 10px; */
}

.cta-btn-link:link,
.cta-btn-link:visited {
  color: #322609;
  border: none;
}

/* ------------Hero---------------*/

.hero-section {
  background-image:
    linear-gradient(rgb(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url(img/onsen1.jpg);
  background-size: cover;
}

.hero-img {
  width: 90%;
  /* height: 2.4rem; */
  display: none;
}

.hero-img2 {
  transform: translate(20%, -10%);
  display: none;
}

.hero-imgbox {
  width: 80%;
  padding: 4.8rem;
}

.hero {
  height: 100vh;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem 0;
  align-items: center;

  align-items: center;
  /* background-color: #fef2d5; */
}

.hero-description {
  color: #fff8ea;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #fbbc2f;
  font-size: 2rem;
  font-weight: 600;
  color: #322609;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: ease-in-out 0.3s;
}

.btn.hero-btn {
  padding-bottom: 2.4rem;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  background-color: #fbbc2f;
  font-size: 2rem;
  font-weight: 600;
  color: #322609;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
}

.hero-btn:hover,
.hero-btn:active {
  background: transparent;
  color: #fbbc2f;
  transition: ease-in-out 0.3s;
}

/********* PLACES ACCORDION ********/

.accordion {
  width: 80%;
  margin: 9.6rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: #fff8ea;

  border-top: 4px solid #fbbc2f;
  border-bottom: 4px solid #fbbc2f;
}

.place-list {
  display: grid;
  width: 100%;
  grid-template-columns: 0.7fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  column-gap: 2.4rem;
  /* align-items: center; */
  padding: 2.4rem;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

  list-style: none;
}

.place-name {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  padding-bottom: 2.4rem;
}

/* .yufuin-text-list {
  display: grid;
}

.yufuin-1 {
  grid-column: 2;
  grid-row: 1;
}

.yufuin-2 {
  grid-column: 2;
  grid-row: 2;
}

.yufuin-3 {
  grid-column: 2;
  grid-row: 3;}*/

.list-name {
  text-decoration: underline;
  display: inline-block;
  font-weight: 600;
}

.list-header {
  text-align: center;
}

.place-img {
  height: auto;
  width: 100%;
  margin-top: 2.4rem;
  border: 1px solid #fbbc2f;
}

/* .map {
  padding-top: 5rem;
  transition: transform 0.3s;
}

.map:hover {
  transform: scale(1.1);
} */

.list-icon {
  display: inline-block;
  height: 2.4rem;
}

.list-text {
  font-size: 2rem;
  color: #333;
  line-height: 1.6;
  padding-bottom: 3.2rem;
}

.list-description {
  font-size: 1.5rem;
  line-height: 1.6;
}

.list-description li {
  color: #333;
  padding-top: 1.2rem;
  /* padding-bottom: 1.8rem; */
}

.list-description.ratings {
  color: #333;
  padding-top: 1.2rem;
  padding-bottom: 2.4rem;
}

.rating-1,
.rating-2,
.rating-3 {
  font-size: 1.5rem;
  color: #333;
  /* padding-bottom: 3%; */
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
  /* height: 37%; */
}

.rating:link,
.rating:visited {
  color: #333;
  transition: transform 0.2;
}

.rating:hover,
.rating:active {
  color: #fbbc2f;
}

/* .list-description li:last-child {
  padding-bottom: 2rem; 
}
*/

/* .ratings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

/* .ratings-yufuin {
  padding-bottom: 60%;
}

.ratings-beppu:last-child {
  margin-bottom: 0;
}

.ratings-beppu {
  padding-bottom: 75%;
} */

/* .rating-3-beppu {
  padding-bottom: 50%;
} */

/* .ratings-kuju {
  padding-bottom: 52%;
} */

/* .ratings p {
  padding-bottom: 0.8rem;
}

.ratings a:link,
.ratings a:visited {
  color: #333;
  transition: transform 0.2;
}

.ratings a:hover,
.ratings a:active {
  color: #fbbc2f;
} */

.see-all-btn {
  align-items: center;
}

.see-all-btn:link,
.see-all-btn:visited {
  background-color: #fbbc2f;
  padding: 5px;
  color: #322609;
  border-radius: 10px;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}

.see-all-btn:hover,
.see-all-btn:active {
  background-color: #fff8ea;
  color: #fbbc2f;
  transition: ease-in-out 0.3s;
}

/* .btn-link {
  align-items: center;
} */

/********* CTA ********/

.section-cta {
  padding: 0 0 9.6rem;
}

.container-cta {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.cta {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to left, #fbbc2f, #fbc344);
  overflow: hidden;
}

.cta-textbox {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.heading-cta {
  padding-top: 2.4rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.cta-form input {
  width: 70%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff8ea;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.cta-form input::placeholder {
  color: #aaa;
}

.form-btn,
.form-btn:link,
.form-btn:visited {
  background-color: #fff8ea;
  padding: 10px;
  margin: 1.8rem;
  border-radius: 9px;

  border: none;
  transition: ease-in-out 0.3s;
}

.form-btn:hover,
.form-btn:active {
  background-color: #fbbc2f;
  color: #322609;
  transition: ease-in-out 0.3s;
}

.cta-img {
  background-image: url("img/japan.jpg");
  background-size: cover;
  background-position: center;
  /* outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.514); */
  transition: all 0.2s ease;
}

.cta-img:hover {
  transform: scale(1.1);
}

/********* FOOTER ********/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #4b380e;
}

.container-footer {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid-footer {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 2.4rem;
}

.logo-footer {
  margin: auto;
  height: 9.6rem;
}

.footer-link:first-child {
  padding-top: 2.4rem;
}

/* .footer-link:last-child {
  padding-bottom: 2.4rem;
} */

.footer-link:link,
.footer-link:visited {
  color: #322609;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-size: 1.4rem;
  display: flex;
  gap: 2.4rem;
}

.footer-link:hover,
.footer-link:active {
  color: #fbbc2f;
}

.resource-link:link,
.resource-link:visited {
  color: #322609;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  font-size: 1.4rem;
  display: flex;
  gap: 2.4rem;
  line-height: 2;
}

.resource-link:hover,
.resource-link:active {
  color: #fbbc2f;
}

.copyright {
  font-size: 1.4rem;
  line-height: 2;
  margin-top: auto;
  color: #322609;
}

.address {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: auto;
  color: #322609;
}

.logo-copy {
  display: inline-block;
}
